html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #bad7dd;
  margin: 0;
  padding: 1em;
}

.banner-head {
  color: white;
  font-family: 'Poiret One', cursive;
}

.banner {
  background-image: linear-gradient(to bottom, transparent, black), url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 3.5em;
}

.title {
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-color: #bad7dd;
  padding: 0.15em;
  clear: both;
}

.about {
  width: 100%;
}

.friday {
  width: 50%;
  float: left;
  padding-right: 0.25em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.drink {
  background-image: linear-gradient(to bottom, transparent, black), url(../images/drinks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 3.5em;
}

.eat {
  background-image: linear-gradient(to bottom, transparent, black), url(../images/eats.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 3.5em;
}

h4 {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.25em;
}

h1 {
  font-family: 'Poiret One', cursive;
}

p {
  font-family: helvetica;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  padding-left: 0.5em;
}

.location {
  text-align: center;
}

.hours {
  text-align: center;
}

.footer {
  background-color: #bad7dd;
  padding: 1em;
  text-align: center;
}

.toplink {
  background-image: url(../images/triangle.svg);
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100px;
  padding-top: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 1em;
  color: black;
}

a:hover {
  color: white;
}

.foot-note {
  text-align: center;
  font-family: 'Poiret One', cursive;
}

.contact {
  width: 100%;
}

.social {
  display: inline-block;
  width: 35px;
}

.social img {
  width: 100%;
}

.socail-icons {
  padding-top: 0.5em;
}
